#regText {font-family: Lustria;
    font-weight: normal;
    font-style: normal; font-size: 1.5em;}
#ArticleText {font-family: Neuton;
    font-weight: 800;
    font-style: normal; font-size: 2em;}